.padding-xy {
    &.sm {
        padding: var(--gap-1);
    }
    &.md {
        padding: var(--gap-2);
    }
    &.lg {
        padding: var(--gap-3);
    }
}
.padding-x {
    &.sm {
        padding-left: var(--gap-1);
        padding-right: var(--gap-1);
    }
    &.md {
        padding-left: var(--gap-2);
        padding-right: var(--gap-2);
    }
    &.lg {
        padding-left: var(--gap-3);
        padding-right: var(--gap-3);
    }
}
.padding-y {
    &.sm {
        padding-top: var(--gap-1);
        padding-bottom: var(--gap-1);
    }
    &.md {
        padding-top: var(--gap-2);
        padding-bottom: var(--gap-2);
    }
    &.lg {
        padding-top: var(--gap-3);
        padding-bottom: var(--gap-3);
    }
}
