@supports (aspect-ratio: 1) {
    .ratio {
        width: 100%;
        &.auto {
            aspect-ratio: auto;
        }
        &.square {
            aspect-ratio: var(--ratio-square);
        }
        &.landscape {
            aspect-ratio: var(--ratio-landscape);
        }
        &.portrait {
            aspect-ratio: var(--ratio-portrait);
        }
        &.ultrawide {
            aspect-ratio: var(--ratio-ultrawide);
        }
    }
}
